@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
}

ul li {
  transition: all 300ms ease-in-out;
}

ul li:hover {
  border-bottom: 2px solid black;
  padding-bottom: 
  5px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
}

ul li:hover {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
}

.header-bg {
  background-image: url("./src/assets/316518250_11374602.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: visible;
}

.product-list {
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.product-list::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.testimonial-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.testimonial-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}



.relative {
  position: relative;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 30px 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}